.navbar {
    position: relative;
    width: 100%;
    background-color: #0070f3;
}

.content {
    position: absolute;
    top: 20px;
    right: 2rem;
    width: 18rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    /* 小圆角 */
    object-fit: cover;
}

.name {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navItem {
    display: block;
    padding: 10px 0;
    color: #777;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
    font-size: 1.6rem;
    font-weight: bold;
}

.navItem:hover {
    color: #0070f3;
}
