/* components/PostList.module.css */

.postList {
    /* max-width: 800px; */
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #767171; */
    /* border-radius: 8px; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.postItem {
    margin-bottom: 20px;
    padding: 15px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 5px;
    background-color: #181818;
    transition: transform 0.2s;
}

.postItem:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.postTitle {
    font-size: 1.5rem;
    color: #f2f2f2;
}

.postDate {
    font-size: 0.9rem;
    color: #666;
}

.postTags {
    font-size: 0.8rem;
    color: #4f575f;
    /* 使用 Next.js 的蓝色 */
}
